<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="details">
                <img src="/img/<%= dish.img %>" alt="<%= dish.name %>">
                <h2><%= dish.name %></h2>
                <p><%= dish.desc %></p>
                <p class="price"><%= dish.price %></p>
                <%if(dish.allergy === "ne contient pas d'allergènes") {  %>
                <p class="safe"><%= dish.allergy %></p>
                <%} else {%>
                    <p class="danger"><%= dish.allergy %></p>
                <%}%>
            </div>

        <%- include('./partials/footer.ejs') %>
    </body>

</html>