<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="details">
                <img src="/img/<%= dish.img %>" alt="<%= dish.name %>">
                <h2><%= dish.name %></h2>
                <p><%= dish.desc %></p>
                <p><%= dish.price %></p>
                <p><%= dish.allergy %></p>
            </div>

        <%- include('./partials/footer.ejs') %>
    </body>

</html>